<div id="page_wrapper">

  <div id="profile_image">

    <%= image_tag "profile.jpg" %>
  </div>

 
  <div id="content">
    <h1>Hi, I'm Simeon</h1>
    <p>Welcome to my blog....I hope that you can find many interesting topics here and that the information is useful.</p>
    <p>Last night I built a blog in Rails 4 and I had no clue about Rails before at all. Hopefully this can inspire you to become a Rails developer as well. This is my HelloWorld of CRUD applications.I have used other MVC frameworks before but none were this efficient at getting the job done.You're actually on the demo application right now too. Amazing stuff, right!.</p>
    
    <p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/S1L3NTKN1GHT">@S1L3NTKN1GHT</a>. I currently don't have my own website but that will all be over soon when I master Ruby on Rails.
    </p>
  </div>
</div>